.side-by-side{
    display: flex;
    flex-direction: row;
}
.cols {
    display: flex;
    flex-direction: column;
}

.cats-name {
    font-weight: bold;
    font-size: 16px;
    color: darkblue;
}

img {
    max-width: 95%;
}

.square-img-box {
    display: flex;
    justify-content: center;
    max-width: 40rem;
    max-height: 40rem;
    width: 40rem;
    height: 40rem;
}
