.side-by-side{
    display: flex;
    flex-direction: row;
}
.cols {
    display: flex;
    flex-direction: column;
}
.vacinTrue{
  display: flex;
  flex-direction: column;
  color : green;
}
.vacinFalse{
  display: flex;
  flex-direction: column;
  color : red;
}
.cats-name {
    font-weight: bold;
    font-size: 16px;
    color: darkblue;
}

img {
    margin-right: 16px;
}
.images {
  width: 550px;
  height: 500px;
}
button.scrolls {
  align-self: center;
}
