:host {
  background-color: #fcfacd;
  display: block;

  .listElement {
    width: 550px;
    max-height: 330px;
    border: solid 2px #444444;
    margin: 20px 0 20px 0;
  }

  .img-container{
    display: inline;
  }

  img {
    max-width: 280px;
    max-height: 280px;
  }
}

@media screen and (max-width: 677px) {
  :host {
    .listElement {
      width: 320px;
      display: flex;
      flex-direction: column;

      span {
        margin: 12px 0 0 50px;
      }
    }
  }
}
