:host {

  display: block;
  max-width: 550px;

  .cross-validation-error input {
    border-left: 5px solid red;
  }

  .cats-name {
    font-weight: bold;
    font-size: 16px;
    color: deeppink;
  }
}
